@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    background-color: #161918;
}

.tekst1 {
    text-align: center;
    color: white;
    margin-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.tekst1 span{
    color: #009EFF
}

.tekst2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
.tekst3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}